<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>

    <!-- Fontawesome -->
    <script
      src="https://kit.fontawesome.com/ec13307674.js"
      crossorigin="anonymous"
    ></script>

    <!-- ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Review-Post</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/review-get.css" />
  </head>
  <body>
    <header id="review__header">
      <div class="review__header__column">
        <i id="btn-back" class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="review__header__column"><h1>리뷰 조회하기</h1></div>
      <div class="review__header__column"></div>
    </header>
    <main id="review__main">
      <div class="review-get__row"><p>안녕하세요
        <div id="review-get__customer-nickname"><%= store_nickname %></div>사장님!</p>
        <!-- <div id="review-post__createdat">2023.01.02 14:28</div> -->
      </div>
      <div class="review-get__row">
          <p id="review-get__info-text">
        사장님의 세탁 서비스에 대한 사용자분들의 리뷰입니다.</p>
      </div>
      <ul id="reviews-list">
        <li>
          <div class="review-get__list-row">
            <div class="review-get__column">
              <div class="review-get__customer-nickname text-box"><%= review_userNickname %></div>
              <div class="review-get__createdAt text-box"><%= review_createdAt %></div>
            </div>
            <div class="review-get__column">
              <button class="btn-theme">삭제</button>
            </div>
          </div>
          <div class="review-get__list-row">
            <div class="review-get__laundry-category text-box"><%= review_category %></div>
            <div class="review-get__star text-box"><%= '🧼'.repeat(review_star) %></div>
          </div>
          <div class="review-get__list-row">
            <div class="review-get__content text-box"><%= review_content %></div>
          </div>
        </li>
        <li>
          <div class="review-get__list-row">
            <div class="review-get__column">
              <div class="review-get__customer-nickname text-box"><%= review_userNickname %></div>
              <div class="review-get__createdAt text-box"><%= review_createdAt %></div>
            </div>
            <div class="review-get__column">
              <button class="btn-theme">삭제</button>
            </div>
          </div>
          <div class="review-get__list-row">
            <div class="review-get__laundry-category text-box"><%= review_category %></div>
            <div class="review-get__star text-box"><%= '🧼'.repeat(review_star) %></div>
          </div>
          <div class="review-get__list-row">
            <div class="review-get__content text-box"><%= review_content %></div>
          </div>
        </li>
        <li>
          <div class="review-get__list-row">
            <div class="review-get__column">
              <div class="review-get__customer-nickname text-box"><%= review_userNickname %></div>
              <div class="review-get__createdAt text-box"><%= review_createdAt %></div>
            </div>
            <div class="review-get__column">
              <button class="btn-theme">삭제</button>
            </div>
          </div>
          <div class="review-get__list-row">
            <div class="review-get__laundry-category text-box"><%= review_category %></div>
            <div class="review-get__star text-box"><%= '🧼'.repeat(review_star) %></div>
          </div>
          <div class="review-get__list-row">
            <div class="review-get__content text-box"><%= review_content %></div>
          </div>
        </li>


      </ul>
        
    </main>
    <footer></footer>
    <script src="/js/store-review-get-api.js"></script>
  </body>
</html>

